.album-wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
 background: linear-gradient(to right, #9b00ff 0%, #1f1a1a 60%, #000000 100%);

  color: #f1f1f1;
  font-family: 'Arial', sans-serif;
}

.album-section {
  flex: 1 1 50%;
  padding: 2rem;
  box-sizing: border-box;
  text-align: center;
}

.left {
  background: rgba(0, 0, 0, 0.3);
}

.right {
  background: rgba(0, 0, 0, 0.1);
}

.album-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #ffffff; /* yellow highlight */
}

.album-art {
  width: 80%;
  max-width: 300px;
  border-radius: 12px;
  box-shadow: 0 0 10px #00000099;
  margin-bottom: 1rem;
}

.album-desc {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #ccc;
}

iframe {
  max-width: 100%;
  border: none;
  border-radius: 12px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .album-section {
    flex: 1 1 100%;
  }
}
